<ion-header class="ion-no-border">
  <app-header title="Change Password"></app-header>
</ion-header>
<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Current Password</ion-label>
      <ion-input formControlName="currentPassword"  type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="newPassword"  type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirm_password"  type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block"
          >Update Password</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
