<ion-header class="ion-no-border">
  <app-header title="Expenses"></app-header>
</ion-header>

<ion-content color="secondary" fullscreen>

  <ion-list class="transactions" *ngIf="expenses?.length > 0">
    <ng-container *ngFor="let expense of expenses">
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-label>
          <ion-text color="primary">{{expense?.detail}}</ion-text>
          <p>
            <ion-text>
              {{expense?.date | date: 'MMM d, y'}}
            </ion-text>
          </p>
        </ion-label>
        <ion-text slot="end" color="primary">
          ${{expense?.amount}}
        </ion-text>
      </ion-item>
      <ion-item-options>
        <ion-icon class="trash" name="trash" slot="end" (click)="deleteExpense(expense)"></ion-icon>
        <ion-icon class="edit" name="create-outline" (click)="openModal('edit',expense)" slot="end"></ion-icon>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-cls">
    <ion-fab-button (click)="openModal('add','')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
