<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="expenseForm">
  <ion-item lines="full">
    <ion-label position="fixed">Date</ion-label>
    <ion-input type="date" formControlName="date" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="fixed">Amount</ion-label>
    <ion-input type="number" formControlName="amount" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="fixed">Expense Type</ion-label>
    <ion-select interface="action-sheet" formControlName="type" placeholder="Select fruit">
      <ion-select-option value="apples">Apples</ion-select-option>
      <ion-select-option value="oranges">Oranges</ion-select-option>
      <ion-select-option value="bananas">Bananas</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Detail</ion-label>
    <ion-textarea rows="10" type="text" formControlName="detail" required></ion-textarea>
  </ion-item>
</form>
</ion-content>