<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  

  <form [formGroup]="categoryForm">
  <ion-item lines="full">
    <ion-label position="fixed">Detail</ion-label>
    <ion-textarea rows="10" type="text" formControlName="name" required></ion-textarea>
  </ion-item>
</form>
</ion-content>