<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  

  <form [formGroup]="expenseForm">
    <ion-item>
      <ion-label>Pick date</ion-label>
      <ion-input
        value="{{ expenseForm.controls['date'].value | date: 'yyyy-MM-dd' }}"
        id="date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="date" 
            locale="sl-SI"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label>Pick Time</ion-label>
      <ion-input
        value="{{ expenseForm.controls['time'].value | date: 'HH:MM:SS' }}"
        id="datetimeValue"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="datetimeValue" size="cover">
        <ng-template>
          <ion-datetime
            presentation="time"
            formControlName="time" 
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  <ion-item lines="full">
    <ion-label position="fixed">Amount</ion-label>
    <ion-input type="number" formControlName="amount" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="fixed">Expense Type</ion-label>
    <ion-select interface="action-sheet" formControlName="category_id" placeholder="Select fruit">
      <ion-select-option  *ngFor="let category of Categories" [value]="category?._id">{{category?.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="fixed">Detail</ion-label>
    <ion-textarea rows="10" type="text" formControlName="detail" required></ion-textarea>
  </ion-item>
</form>
</ion-content>